
<%- include('./partials/sign-in') %>
<main>
  <div class="b-example-divider"></div>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-3 fw-bold lh-1 text-body-emphasis mb-5">Welcome to <br>HSZ</h1>
        <p class="col-lg-10 fs-4">Share, create, and collaborate with others to create workout routines that you enjoy and find most effective. Log in to see what people are up to! Don't be afraid to share we all start somewhere and sharing your experience helps others on their journey.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember Me
            </label>
          </div>
    <br>
    <br>
    <button class="w-100 btn btn-lg btn-dark" ><a href="auth/google" type="login">Sign In with Google</a></button>
  </form>
</main>

 
<%- include('./partials/footer') %>




